/* Container principal */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Formulaire de connexion */
  .login-form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #ff8fab;
    margin-bottom: 30px;
  }
  
  /* Champs de formulaire */
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .input-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
    display: block;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.3s ease;
  }
  
  .input-group input:focus {
    border-color: #3b82f6;
    background-color: #fff;
    outline: none;
  }
  
  .button-login{
    background-color: #ff8fab;
  }
  
  /* Message d'erreur */
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }

  .switch-page{
    color: #ff8fab;
  }
  